# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!README.md
!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!.formatter.exs
!mix.exs
!mix.lock
!.tool-versions

!config/
!config/config.exs

!lib/
!lib/elixirgate.ex

!lib/elixirgate/
!lib/elixirgate/application.ex
!lib/elixirgate/reverse_proxy.ex
!lib/elixirgate/router.ex

!test/
!test/elixirgate_test.exs
!test/test_helper.exs
