# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!.formatter.exs
!.tool-versions
!AGENTS.md
!mix.exs
!mix.lock

!assets/
!assets/tsconfig.json

!assets/css/
!assets/css/app.css

!assets/js/
!assets/js/app.js

!assets/vendor/
!assets/vendor/daisyui.js
!assets/vendor/daisyui-theme.js
!assets/vendor/heroicons.js
!assets/vendor/topbar.js

!config/
!config/config.exs
!config/dev.exs
!config/prod.exs
!config/runtime.exs
!config/test.exs

!lib/
!lib/hazegate.ex
!lib/hazegate_web.ex

!lib/hazegate/
!lib/hazegate/application.ex
!lib/hazegate/mailer.ex
!lib/hazegate/metrics.ex
!lib/hazegate/repo.ex

!lib/hazegate/worker/
!lib/hazegate/worker/*.ex

!lib/hazegate_web/
!lib/hazegate_web/endpoint.ex
!lib/hazegate_web/gettext.ex
!lib/hazegate_web/router.ex
!lib/hazegate_web/telemetry.ex

!lib/hazegate_web/components/
!lib/hazegate_web/components/core_components.ex
!lib/hazegate_web/components/layouts.ex

!lib/hazegate_web/components/layouts/
!lib/hazegate_web/components/layouts/root.html.heex

!lib/hazegate_web/controllers/
!lib/hazegate_web/controllers/dashboard_controller.ex
!lib/hazegate_web/controllers/error_html.ex
!lib/hazegate_web/controllers/error_json.ex
!lib/hazegate_web/controllers/page_controller.ex
!lib/hazegate_web/controllers/page_html.ex

!lib/hazegate_web/controllers/page_html/
!lib/hazegate_web/controllers/page_html/home.html.heex

!lib/hazegate_web/plugs/
!lib/hazegate_web/plugs/reverse_proxy.ex

!lib/hazegate_web/templates/

!lib/hazegate_web/templates/dashboard/
!lib/hazegate_web/templates/dashboard/index.html.heex

!lib/hazegate_web/views/
!lib/hazegate_web/views/dashboard_view.ex
!lib/hazegate_web/views/error_helpers.ex

!priv/

!priv/gettext/
!priv/gettext/errors.pot

!priv/gettext/en/

!priv/gettext/en/LC_MESSAGES/
!priv/gettext/en/LC_MESSAGES/errors.po

!priv/repo/
!priv/repo/seeds.exs

!priv/repo/migrations/
!priv/repo/migrations/.formatter.exs

!priv/static/
!priv/static/favicon.ico
!priv/static/robots.txt

!priv/static/assets/

!priv/static/assets/css/
!priv/static/assets/css/app.css

!priv/static/assets/js/
!priv/static/assets/js/app.js

!priv/static/images/
!priv/static/images/logo.svg

!test/
!test/hazegate_test.exs
!test/test_helper.exs

!test/hazegate_web/

!test/hazegate_web/controllers/
!test/hazegate_web/controllers/error_html_test.exs
!test/hazegate_web/controllers/error_json_test.exs
!test/hazegate_web/controllers/page_controller_test.exs

!test/support/
!test/support/conn_case.ex
!test/support/data_case.ex
